@using LogInUsingLinkedinApp.Utils;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background-color:#f3f3f3;">
    <div style="align-items:center;align-items:center;padding:50px;border:1px double #3d2487;width:260px;background-color:white">
        <h2>Hi Guest</h2>
        <p>
            <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321&scope=r_emailaddress%20r_basicprofile">

                <img src="~/Resources/login-linkedin.png" style="width:215px;height:41px"/>
            </a>
        </p>
    </div>
</body>
</html>
